// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* LoginView */

.login {
    text-align: center;
}

.login h2 {
    color: #666;
    font-size: 13pt;
    line-height: 1.6em;
    margin-bottom: 0px;
}

.login p {
    color: #999;
    font-size: 12pt;
    margin-bottom: 0px;
}

.login #LoginBtn {
    margin: auto;
    width: 30%;
}

/* HomeView & MentionView */

.tweet{
    padding-left: 15px;
    border-left: 1px dashed #333;
    margin-left: 65px;
    min-height: 50px;
}

.user-img {
    margin-left: -3px;
    width: 48px;
    @include border-radius(24px);
    float:left;
    @include box-shadow(#92CEEE 0 0 8px);
}

.type-img {
    float: left;
    margin-left: -28px;
    // margin-top: 30px;
    // position: absolute;
    width: 24px;
    @include border-radius(12px);
    @include box-shadow(#42C28A 0 0 8px);
}

.user-name {
    color: #F30;
    text-shadow: #D55 0 0 2px;
    font-size: 12pt;
}

.time {
    font-size: 11pt;
    color: #8A8181;
    float: right;
}

.content{
    margin-top: 3px;
    font-size: 15px;
    line-height: 1.5em;
}

.relate-user {
    color: #6e6e6e;
    display: inline-block;
    background-color: #B3B8A7;
}

.source {
    font-size: 11pt;
    margin-top: 4px;
    color: #999;
}

.source-text {
    display: inline-block;
    // background-color: #B3B8A7;
    color: #848484;
}

.source-text a {
    color: #848484;
}

.content-user {
    background: #8690DA;
}

.content-tag {
    background: #B48A3F;
}

.content-media {
    @extend .content-url;
}

.content-url {
    background: #9799A7;
    @include text-overflow;
}

.tweet-fav-img {
    float: left;
    width: 24px;
    @include border-radius(12px);
    @include box-shadow(#FE2E64 0 0 8px);
    margin-left: -35px;
    margin-top: 50px;
}

.x-list-item{
    border-top:1px solid white;
}

.no-tweets {
    text-align: center;
}

.tweet-count {
    margin-left: 10px;
    margin-top: -25px;
    font-size: 20pt;
    color: #7CE;
    @include text-shadow(#7CE 0px 0px 5px);
}

.tweet-count-warning {
    margin-left: 10px;
    margin-top: -25px;
    font-size: 20pt;
    color: #CAA;
    @include text-shadow(#CAA 0px 0px 5px);
}

.label {
    padding: 2px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    // line-height: 14px;
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
    white-space: nowrap;
    // vertical-align: baseline;
}


/* DMListView */

.dm-recipient-img {
    @extend .user-img;
}

.direct-message {
    padding-left: 15px;
    margin-left: 40px;
    margin-right: 30px;
    min-height: 50px
}

.dm-recipient-name {
    @extend .user-name;
}

.dm-content {
    opacity: 0.5;
    margin-top: 10px;
    font-size: 15px;
    @include text-overflow;
}

.dm .x-list-item-tpl .x-list-disclosure {
    top: 15px;
}

/* DMChatView */
/* reference http://www.rwe-uk.com/blog/comments/ichat_like_speech_bubbles_with_css_3/ */

.dm-chat-user-img {
    position: absolute;
    width: 48px;
    bottom: 5px;
    @include border-radius(24px);
    @include box-shadow(#92CEEE 0 0 8px);
    &.remote {
        left: 10px;
    }
    &.local {
        right: 15px;
    }
}

.dm-time {
    opacity: 0.6;
    text-align: center;
    font-size: 8pt;
}

.dm-chat {
    &.remote {
        text-align: left;
        margin-left: 55px;
    }
    &.local {
        text-align: right;
        margin-right: 55px;
    }
}

.dm-chat-content {
    font-size: 11pt;
    display: inline-block;
    max-width: 80%;
    text-align: left;
    &.remote {
        border-width: 8px 10px 8px 17px;
        -webkit-border-image: url(../images/left_chat.png) 8 10 8 17 stretch stretch;
    }
    &.local {
        border-width: 8px 17px 8px 10px;
        -webkit-border-image: url(../images/right_chat.png) 8 17 8 10 stretch stretch;
    }
}

/* Send DM View */
.send-dm-panel #FoundUserPanel {
    border-radius: 0.5em;
    @include box-shadow(rgba(0,0,0,0.8) 0 0.2em 0.9em);
    margin: 5px;

    .dm-found-user-img {
        @extend .user-img;
    }

    .dm-found-user-name {
        @extend .user-name;
        margin-left: 65px;
        margin-top: -10px;
    }

    .dm-found-user-desc {
        opacity: 0.7;
        font-size: 10pt;
        margin-top: 10px;
        margin-left: 65px;
    }
}

/* ListOpitons */

.x-list-options-plugin.x-list .x-list-item {
    background-color: white;
}

.x-list-options-plugin .x-list-options {
    width: 100%;
    overflow: hidden;

    ul {
        @include box-shadow(inset 0 0 10px #333);
        background-image: url(../images/list-option-bg.png);
        background-repeat: repeat;
        height: 100%;
        width: 100%;

        li:first-child {
            margin-left: 12%;
        }

        li.x-menu-option {
            width: 22%;
            // padding: 4px;
            // margin-left: 18%;
            // height: 35px;
            // width: 35px;
            @include border-radius(6px);

            span {
                padding: 4px;
                // height: 35px;
                // width: 35px;
            }

            .disabled {
                opacity: 0.4;
            }
        }

        li.x-menu-option-pressed .x-button-icon {
            @include box-shadow(0 .1em .3em rgba(0, 0, 0, 0.3));
        }
    }
}

// .x-list-options-plugin .x-list-options ul {
//     @include box-shadow(inset 0 0 10px #333);
//     background-image: url(../images/list-option-bg.png);
//     background-repeat: repeat;
//     height: 100%;
//     width: 100%;
// }

// .x-list-options-plugin .x-list-options ul li.x-menu-option {
//     width: 22%;
//     padding: 4px;
//     // margin-left: 18%;
//     // height: 35px;
//     // width: 35px;
//     @include border-radius(6px);

//     .disabled {
//         opacity: 0.4;
//     }
// }

// .x-list-options ul li.x-menu-option-pressed
// {
//     @include box-shadow(0 .1em .3em rgba(0, 0, 0, 0.3));
// }

// Examples of using the icon mixin:
@include icon('quote');
@include icon('loop2');
@include icon('mail');
// @include icon('at');