body {
    font-family: 'Century Gothic','Microsoft YaHei','Verdana';
}

/* LoginView */

.login {
    text-align:center
}

.login h2 {
    color:#666;
    font-size:0.8em;
    line-height:1.6em;
    margin:10px 10px 10px 10px
}

.login img {
    margin-top:10px
}

.login p {
    color:#999;
    font-size:0.7em
}

/* HomeView */

.home .tweet{
    margin-left: 70px;
    min-height: 50px
}

.home .user-img {
    width: 48px;
    border-radius:24px;
    float:left;
    box-shadow: #92CEEE 0 0 8px;
}

.home .user-name {
    color: #F30;
    text-shadow: #D55 0 0 2px;
    font-size: 12pt;
}

.home .time {
    font-size: 11pt;
    color: #8A8181;
    float: right;
}

.home .content{
    margin-top: 3px;
    font-size: 15px;
}

.home .source {
    font-size: 11pt;
    margin-top: 4px;
    color: #999;
}

.home .x-list-item{
    border-top:1px solid white;
}
