<!DOCTYPE html> 
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"> 
    <title>Trister</title> 
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/themes/default/jquery.mobile-1.1.0.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mobile-1.1.0.js') }}"></script>
</head> 
<body> 
	<div data-role="page">
        <div data-role="header" data-theme="c">
            <h1>Login</h1>
        </div>
        <div data-role="content">
            <center><img src="{{ url_for('static', filename='img/logo.png') }}" /></center>
            <h2>Login</h2>
            {% if error %}<p><strong>Error:</strong> {{ error }}{% endif %}
            <form action="/oauth" method="post" class="ui-body ui-body-b ui-corner-all">
                <fieldset>
                    <input type="text" name="name" id="name" value="" placeholder="Twitter Account" />
                    <br/>
                    <input type="password" name="pass" id="pass" value="" placeholder="Twitter Password" />
                    <button type="submit" data-theme="e" id="login">Login</button>
                </fieldset>
           </form>
        </div>
        <div data-role="footer" data-theme="c">
            <p>&copy; 2012 Trister</p>
        </div>
	</div>
</body>
</html>
